.container {
	color: #9b9ca1;
}

.bg-secondary-soft {
	background-color: rgba(208, 212, 217, 0.1) !important;
}

.rounded {
	border-radius: 5px !important;
}

.py-5 {
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
}

.px-4 {
	padding-right: 1.5rem !important;
	padding-left: 1.5rem !important;
}

/*標籤樣式設置*/
.nav-tabs .nav-link {
	font-weight: bold;
}

/* 未選中的顏色 */
.nav-tabs .nav-link {
	color: #ADD8E6;
}

/* 鼠標懸停時的顏色 */
.nav-tabs .nav-link:hover {
	color: #ACC3CA;
}

/* 點選時的顏色 */
.nav-tabs .nav-link.active, .nav-tabs .nav-link:focus {
	color: #656363;
}


.file-upload .square {
	height: 250px;
	width: 250px;
	margin: auto;
	vertical-align: middle;
	border: 1px solid #e5dfe4;
	background-color: #fff;
	border-radius: 5px;
}

.text-secondary {
	--bs-text-opacity: 1;
	color: rgba(208, 212, 217, 0.5) !important;
}

/*頭像上傳跟刪除按鈕*/
.btn-success-soft {
	color: #28a745;
	background-color: rgba(40, 167, 69, 0.1);
}

.btn-danger-soft {
	color: #dc3545;
	background-color: rgba(220, 53, 69, 0.1);
}

/*頭像按鈕移上去樣式*/
.btn-success-soft:hover {
	color: #222121;
	background-color: #E5F2E8;
}

.btn-danger-soft:hover {
	color: #222121;
	background-color: #F7E6E8;
}

/*頭像圖片框*/
.form-control {
	display: block;
	width: 100%;
	padding: 0.5rem 1rem;
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 1.6;
	color: #29292e;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #e5dfe4;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 5px;
	-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow
		0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s
		ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
		-webkit-box-shadow 0.15s ease-in-out;
}

/* 頭像樣式 */
.avatar {
	width: 100%;
	/* 設置頭像的寬度 */
	height: 100%;
	/* 設置頭像的高度 */
	object-fit: cover;
	/* 確保圖像完全填充頭像框 */
	border-radius: 5px;
}

/*輪播*/
.owl-carousel .item {
	margin: 5px;
}

.owl-carousel .item img {
	display: block;
	width: 100%;
	height: 500px;
	/* 調整這個值來設定照片高度 */
	object-fit: cover;
	/* 確保照片不會被拉伸或壓縮 */
}

/*輪播圖片 - 框跟圖示*/
.photo-container {
	position: relative;
}

/*主題名稱區塊*/
.theme-name {
	background-color: #918e8e77;
	/* 背景顏色 */
	color: #333;
	/* 文字顏色 */
	padding: 20px;
	/* 內邊距 */
	font-size: 16.5px;
	/* 字體大小 */
	border-radius: 5px;
	/* 圓角 */
	border-top-left-radius: 0px;
	/* 上左角方形 */
	border-top-right-radius: 0px;
	/* 上右角方形 */
	border-bottom-left-radius: 5px;
	/* 下左角圓形 */
	border-bottom-right-radius: 5px;
	/* 下右角圓形 */
}

.photo-container .square {
	opacity: 0;
	transition: opacity 0.3s;
}

.photo-container:hover .square {
	opacity: 1;
}

.add-photo {
	cursor: pointer;
}

/*框線長寬*/
.image-frame {
	width: 200px;
	/* 調整寬度 */
	height: 500px;
	/* 調整高度 */
	display: inline-block;
	/* 或者 float:left; */
	overflow: hidden;
	/* 裁切超出框架的部分 */
}

/*主題照片框線樣式*/
.photo-container .image-frame {
	display: block;
	width: 100%;
	padding: 0;
	/* 移除內邊距 */
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 1.6;
	color: #29292e;
	background-color: #d8d8d86d;
	background-clip: padding-box;
	border: 1px solid #e5dfe4;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 5px;
	overflow: hidden;
	/* 確保圖片不會溢出框 */
	border-top-left-radius: 5px;
	/* 上左角方形 */
	border-top-right-radius: 5px;
	/* 上右角方形 */
	border-bottom-left-radius: 0px;
	/* 下左角圓形 */
	border-bottom-right-radius: 0px;
	/* 下右角圓形 */
	-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow
		0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s
		ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
		-webkit-box-shadow 0.15s ease-in-out;
}

.image-frame img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* 確保圖片完全覆蓋框架區域 */
}

.delete-photo {
	color: #6c757d;
	/* 初始狀態下的顏色 */
	border-color: transparent;
	background-color: transparent;
}

.delete-photo:hover {
	background-color: #dc3545;
	/* 移上去後的背景色（紅色） */
	border-color: #dc3545;
}

.delete-photo i {
	color: #111111;
	/* "x" 圖標顏色 */
}

.delete-photo:hover i {
	color: #fff;
	/* 移上去後的 "x" 圖標顏色 */
}

/*頁籤與個性標籤頁面的距離*/
.nav.nav-tabs {
	margin-bottom: 5px;
}

#tagsTabPane .bg-secondary-soft {
	margin-top: 25px;
}

#tagsTabPane .gap-3 {
	margin-top: 25px;
}

/*可選標籤 : 下拉式選單 */
.customSuggestionsList>div {
	max-height: 300px;
	min-height: 50px;
	border: 2px solid #80ade8;
	overflow: auto;
}

.customSuggestionsList .empty {
	color: #999;
	font-size: 20px;
	text-align: center;
	padding: 1em;
}

/*可選標籤 : 框裡選擇再在外面顯示標籤*/
.tagify--outside {
	border: 0;
}

/* 在外部的 tagify 輸入框樣式 */
.tagify--outside .tagify__input {
	order: -1;
	flex: 100%;
	border: 1px solid var(--tags-border-color);
	margin-bottom: 1em;
	transition: .1s;
}

.tagify--outside .tagify__input:hover {
	border-color: var(--tags-hover-border-color);
}

.tagify--outside.tagify--focus .tagify__input {
	transition: 0s;
	border-color: var(--tags-focus-border-color);
}

/* 清除全部按鈕樣式 */
.tags--removeAllBtn {
	background-color: #80ade8;
	/* 更改背景顏色 */
	color: #ffffff;
	/* 更改文本顏色 */
	font-size: 12px;
	/* 調整按鈕文字大小 */
	border: 1px solid #80ade8;
	/* 更改邊框顏色 */
	padding: 3px 15px;
	/* 調整內邊距 */
	border-radius: 5px;
	/* 圓角 */
	margin-top: 39px;
	/* 調整上方 margin */
	margin-bottom: 0;
	width: auto;
	/* 自動調整寬度 */
	height: 25px;
	/* 自動調整高度 */
}

.tags--removeAllBtn:hover {
	background-color: #c82333;
	/* 滑鼠移過時的背景顏色 */
	border-color: #c82333;
	/* 滑鼠移過時的邊框顏色 */
}

/*從以下清單中新增標籤: 樣式*/
.tag-label {
	font-size: 15px;
	color: #80ade8;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 35px;
	/* 調整上方 margin */
}